html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: hsla(0, 0%, 100%, 0);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

#chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.line {
  white-space: pre-wrap;
  word-break: break-word;
  gap: 6px;
  opacity: 0;
  transform: translateY(4px);
  animation: appear 0.15s ease-out forwards;
  font-size: 22px;
  line-height: 1.3;
}

.line > .badge {
  margin-inline: 0.125em;
}

.line > .message {
  margin-inline: 0.25em;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.username {
  font-weight: bold;
  white-space: nowrap;
}

.badge {
  height: 1em;
  vertical-align: middle;
  opacity: 0.8;
}

.emote {
  height: 1.2em;
  vertical-align: middle;
  margin: 0 1px;
}

.message {
  word-spacing: 0.125em;
  color: whitesmoke;
}
